.summary-items {
    display: flex;
    flex-direction: row;
}

.category {
    padding: 30px;
    border-radius: 20px;
    border: solid 1px grey;
    margin-bottom: 30px;
    background-color: #DDD;
}

.category-title {
    padding-bottom: 20px;
    font-size: 30px;
    color: #555555;
}